.ContactContainer {
  background-image: linear-gradient(to top, #521515, #410505e5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.ContactHeader img {
  width: 100%;
}

.ContactContainer h2,
.ContactContainer h3 {
  color: rgb(165, 160, 160);
}

.ContactSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ContactContent {
  border: 3px rgb(165, 160, 160) solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.ContactContent .contact-head,
.ContactContent .ContactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.ContactForm form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ContactForm form input {
  padding: 12px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(165, 160, 160);
  color: white;
  font-size: 18px;
}

.ContactForm label {
  font-size: 18px;
}

.ContactForm textarea {
  padding: 12px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(165, 160, 160);
  color: white;
  font-size: 18px;
}

.ContactForm button {
  padding: 12px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  background-color: rgb(204, 202, 202);
}

.ContactContainer .AdditionalSections {
  border: 3px rgb(165, 160, 160) solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.contact-press {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.contact-press div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ContactContainer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
    .ContactContainer h2,
.ContactContainer h3 {
  font-size: 24px;
}
}

@media (max-width: 400px) {
    .ContactContainer h2,
.ContactContainer h3 {
  font-size: 18px;
}
}
