.ContactContainer {
    font-family: Arial, sans-serif;
    color: #000000;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.ContactHeader {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #000;
}

.ContactImage {
    padding-top: 10rem;
    width: 100%;
    height: auto;
    display: block;
}

.ContactContent {
    width: 100%;
    margin: 2.5rem auto; 
    padding: 0; 
    background: #fdfeff;
    height: 100%;
}

.ContactSection {
    margin-top: 4rem;
    margin-bottom: 2.5rem; 
}

.ContactTitle {
    font-size: 5rem; 
    margin-bottom: 1.25rem; 
}

.ContactParagraph {
    font-size: 1.125rem; 
    margin-bottom: 1.25rem; 
}

.ContactInfo h3 {
    font-size: 1.75rem; 
    color: #000000; 
}

.ContactInfo p {
    font-size: 1rem; 
    margin: 0.625rem 0; 
}

.ContactForm {
    background: rgb(255, 255, 255);
    padding: 1.25rem; 
    border: 0.0625rem solid #6e4444; 
    border-radius: 0.3125rem;
    margin-top: 4rem;
    margin-bottom: 0rem; 
}

.AdditionalSections {
    margin-top: 0rem;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #ffffff;
    background: #fcffff;
}

.AdditionalSections h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.AdditionalSections p {
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

.AdditionalSections a {
    color: #007bff;
    text-decoration: none;
    margin-right: 1rem;
}

.AdditionalSections a:hover {
    text-decoration: underline;
}

.ContactFooter {
    background-color: #17318b; 
    color: white;
    padding: 2rem; 
    text-align: center;
    font-size: rem;
}

.ContactFooter a {
    color: #f9f9f9; 
    text-decoration: none;
    padding: 1.25rem; 
    font-size: 1rem;
}

.ContactFooter a:hover {
    text-decoration: underline;
}

@media (max-width: 48rem) { 
    .OverlayTitle {
        font-size: 2.5rem; 
    }
    .OverlaySubtitle {
        font-size: 1.125rem; 
    }
    .ContactContent {
        margin: 1.25rem; 
    }
    .ContactTitle {
        font-size: 1.5rem; 
    }
    .ContactFooter {
        padding: 0rem; 
    }
}
