.faq-section {
    padding: 200px; 
    background-color: #f4f4f4;
    text-align: center;
}

.faq-section h1 {
    font-size: 3rem;
    margin-bottom: 20px; 
    color: #000;  
}

.faq-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.faq-item {
    padding: 10px;
    background-color: #fff; 
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px; 
    transition: all 0.3s ease;
    box-sizing: border-box; 
}

.faq-item:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.faq-question {
    padding: 10px;
    background-color: #ffffff; 
    color: #000000; 
    border: none;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    box-sizing: border-box;
    height: 140px;
    border-radius: 5px; 
}

.faq-answer {
    padding: 10px;
    background-color: #fff; 
    margin-top: 10px;
    height: 140px; 
    border-radius: 5px; 
}
