.Aboutus img {
  width: 100%;
  margin-top: 100px;
}
.OverlayText {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -75%);
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  font-size: 60px;
  font-family: 'Arial', sans-serif; 
}
h3 {
  font-size: 30px;
  font-weight: bold;   
  font-family: 'Arial', sans-serif;
  padding-left: 7px;
  
}
h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  padding-left: 7px;
}

p {
  font-size: 20px; 
  padding-left: 7px;
}

li{
  font-size: 20px;
}