
.homeimage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    width: 100%;
    height:auto;
  }
  .VehicleSelectionTool {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .carlogos img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:auto  ;
  }



  .interior-button {
    position: absolute;
    top: 125%;
    left: 14%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #A63520;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Positioning for the carinterior image container */
  .carinterior img {
    width: 30%;
    height: 34%;
    position: absolute;
  top: 120%; /* Adjust vertical position as needed */
  left: 15%; /* Adjust horizontal position as needed */
  transform: translate(-50%, -50%);
  border-radius: 20px;
  }

  .bodyparts img{
    width: 30%;
    height: 34%;
    position: absolute;
  top: 120%; /* Adjust vertical position as needed */
  left: 50%; /* Adjust horizontal position as needed */
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.bodyparts-button{
  position: absolute;
  top: 125%;
  left: 51%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #A63520;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.wheels img {
  width: 30%; /* Adjust the percentage as needed */
  height: 34%; /* Maintain aspect ratio */
  position: absolute;
  top: 120%; /* Adjust vertical position as needed */
  left: 85%;  /*Adjust horizontal position as needed */
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.wheels-button{
  position: absolute;
  top: 125%;
  left: 87%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #A63520;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;


}