/* Navbar container */
.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 1000;
}

body {
  margin: 0;
  padding: 0;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

/* Left side logo */
.leftSide img {
  display: flex;
  width: 190px;
  scale: 125%;
  padding: 15px; /* Add some padding around the logo */
}

/* Centered navigation links */
.centerSide {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Styled navigation links */
.navLinks {
  display: flex;
}

.navLinks a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: calc(14px + 1vw);
  font-weight: 800;
  font-family: 'Arial', sans-serif;
}

/* Right side content */
.rightSide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px; /* Add padding to the right side */
}

/* Styled icon button */
.iconButton {
  background: none;
  border: none;
  padding: 50px;
  margin-right: 20px;
  color: white;
  font-size: 35px;
  cursor: pointer;
  flex-shrink: 1;
}

/* Styled login link */
.login-button {
  background-color: #A00000;
  scale: 115%;
  font-weight: bold;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  margin-right: 50px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  font-family: 'Arial', sans-serif;
}

.login-button:hover {
  background-color: #555;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchBar {
  display: flex;
  align-items: center;
  z-index: 1001;
  flex-grow: 1; /* Allow the search bar to grow */
  flex-shrink: 1; /* Allow the search bar to shrink */
  flex-basis: 400px; /* Set an initial size */
}

.searchBar input {
  max-width: 400px; /* Set a maximum width */
  width: 100%; /* Allow it to shrink */
  padding: 10px;
  margin-right: 100px;
  border-radius: 5px;
}


.searchBar button {
  display: flex;
  background-color: #A00000;
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 2);
  font-family: 'Arial', sans-serif;
}

.searchBar button:hover {
  background-color: #555;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .searchBar {
    position: static;
    order: 3;
    width: 100%;
    margin-top: 10px;
  }

  .searchBar input, .searchBar button, .iconButton, .login-button {
    width: 100%; /* Full width for smaller screens */
    margin-bottom: 10px; /* Add some space between elements */
    margin-right: 0
  }
  
    .rightSide {
      padding-right: 0; /* Reset padding for smaller screens */
      flex-direction: column; /* Stack elements vertically */
      align-items: center; /* Center align items */
    }

  .navLinks {
    flex-direction: column;
    align-items: center;
  }

  .navLinks a {
    margin: 5px 0;
  }
}

.menubtn {
  background-color: #A00000;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1rem;
  border: thick #000000;
  cursor: pointer;
  margin: 0; 
  scale: 115%;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 3);
  font-family: 'Arial', sans-serif;
}
.menubtn:hover{
  background-color: #555;
}

/* Dropdown content */
.menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1001;
  font-family: 'Arial', sans-serif;
}

.menu:hover .menu-content {
  display: block;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  border-radius: 15px;
}

/* Style the dropdown links */
.menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 15px;
}


.menu-content a:hover {
  background-color: #f1f1f1;
}

