.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../assets/regimg.jpg');
  background-size: cover;
  background-position: center;
}
h2{
  font-weight:bold;
}
.logo {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; 
  width: 430px; 
  height: 200px;
}



.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.account-box {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px; /* Adjust width as needed */
  margin-top: 80px; /* Adjust the margin-top value to lower the box */
}

.account-box form {
  display: flex;
  flex-direction: column;
}

.account-box label {
  margin-bottom: 5px;
}

.account-box input {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.account-box button {
  padding: 8px 12px;
  background-color: #A00000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.account-box button:hover {
  background-color: #0056b3;
}

.login-link {
  margin-top: 10px;
}

.login-link a {
  color: #A00000;
  text-decoration: none;
}


.back-button {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  color: rgb(254, 254, 254);
  font-size: 24px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.back-button a {
  text-decoration: none;
  color: #fff; /* Change the color according to your preference */
  display: inline-flex;
  align-items: center;
}

.back-button a:hover {
  color: #A00000; /* Change the hover color */
}

.back-button a svg {
  margin-right: 5px; /* Adjust the space between the icon and text */
}
